@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @*Title*@
    <h1 class="display-4">Pizzeria Contemporanea</h1>
    @*Card Container*@
    <div class="row row.cols-3 justify-content-center g-2">
        @*Single Card*@
        <div class="col-2">
            <div class="card">
                @*Image*@
                <img class="card-img-top" src="https://www.ehabitat.it/wp-content/uploads/2021/12/pizza-napoletana-felicita%CC%80.jpg" alt="pizza margherita">
                <div class="card-body">
                    @*Title*@
                    <h4>Margherita</h4>
                    @*Description*@
                    <p class="card-text">
                        La pizza Margherita è la tipica pizza napoletana, condita con pomodoro, mozzarella, basilico fresco.
                    </p>
                    @*Price*@
                    <a class="btn btn-success">
                        euro 5,50
                    </a>
                    
                </div>
            </div>
        </div>

        @*Single Card*@
        <div class="col-2">
            <div class="card">
                @*Image*@
                <img class="card-img-top" src="https://www.granarolo.it/system/granarolo_consumer/attachments/data/000/001/792/original/pizza-ortolana.jpg?1490627997" alt="pizza margherita">
                <div class="card-body">
                    @*Title*@
                    <h4>Ortolana</h4>
                    @*Description*@
                    <p class="card-text">
                        La pizza ortolana è una pizza con le verdure, rigorosamente di stagione e a km 0.
                    </p>
                    @*Price*@
                    <a class="btn btn-success">
                        euro 6,50
                    </a>

                </div>
            </div>
        </div>

        @*Single Card*@
        <div class="col-2">
            <div class="card">
                @*Image*@
                <img class="card-img-top" src="https://primochef.it/wp-content/uploads/2018/05/SH_pizza_capricciosa.jpg" alt="pizza capricciosa">
                <div class="card-body">
                    @*Title*@
                    <h4>Capricciosa</h4>
                    @*Description*@
                    <p class="card-text">
                        La pizza Capricciosa è una pizza tipica condita con di pomodoro, mozzarella, prosciutto cotto, funghi, olive verdi e nere, e carciofini
                    </p>
                    @*Price*@
                    <a class="btn btn-success">
                        euro 7,50
                    </a>

                </div>
            </div>
        </div>
        
    </div>
</div>

<style>
    h1 {
        padding: 3rem;
    }
    .card-img-top {
        width:  12rem;
    }
    
</style>